html, body{
  height:100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#div1{
  height: 100%;
  width: 100%;
  background-color: blue;
  justify-content: center;
  align-content: center;
}

#div2{
  height:100%;
  width: 100%;
  background-color: #FF5733;
}
#div3{
  height:100%;
  width: 100%;
  background-color: green;
}
