<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-sucursales">
  <template>
        <link rel="stylesheet" href="tablasProject.css">
	  <style>
    :host {
        display: block;
      }
    </style>

      <!--<div class="row">-->
    <div id="general">
    <div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Tus últimas visitas a <b>Sucursales</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nueva Sucursal</span></a>
							<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Elimina</span></a>
						</div>
					</div>
				</div>

        <div class="row">
        <button on-click="obtenerSucursales" type="button" name="button" class="btn btn-success">Obtener</button>
      </div>



  <!--<table  class="table table-hover">-->
<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th>
							<th>Nombre</th>
							<th>Ubicacion</th>
							<th>Horario (dias)</th>
							<th>Horario (horas)</th>
						</tr>
					</thead>
			<tbody>
            <template is="dom-repeat" items="{{sucursales}}">
            <tr>
              <td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
              </td>
              <td>
                [[sucursales.nombre]]
              </td>
              <td>
                [[sucursales.ubicacion]]
              </td>
              <td>
                [[sucursales.horarioDias]]
              </td>
              <td>
                [[sucursales.horarioHora]]
              </td>
              <td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
          </template>
          </tbody>
        </table>

      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorSucursales extends Polymer.Element {
      static get is() { return 'gestor-sucursales'; }
      static get properties() {
        return {
          sucursales: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerSucursales(){
        var request = new XMLHttpRequest();
    //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      /*  request.open("GET", "http://localhost:3002/Clientes",false); */
      request.open("GET", "http://localhost:3000/SucursalesUltimas",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
      //  this.clientes = JSON.parse(request.responseText).value;
        this.sucursales = JSON.parse(request.responseText);
        console.table(this.sucursales);
      }
    }

    window.customElements.define(GestorSucursales.is, GestorSucursales);

/*	$(document).ready(function(){
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function(){
			if(this.checked){
				checkbox.each(function(){
					this.checked = true;
				});
			} else{
				checkbox.each(function(){
					this.checked = false;
				});
			}
		});
		checkbox.click(function(){
			if(!this.checked){
				$("#selectAll").prop("checked", false);
			}
		});
	});*/
	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</dom-module>
