<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
        <!--<link href="../../css/styles.css" rel="stylesheet" />-->
        <link href="../../css/stylesMay.css" rel="stylesheet" />
    <style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      :host {
        display: block;
      }
    </style>

      <!--<div class="row">-->
      <div id="div1">
        <h1>Gestor de clientes</h1>
        <p>Deseas ver tus ultimos movimientos. Sólo aquí</p>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener clientes</button>
      </div>
      <!--<div class="row">-->

        <table  class="table table-hover">
          <thead>
              <tr>
                  <th>Titulo1</th>
                  <th>Titulo2</th>
                  <th>Titulo3</th>
                  <th>Titulo4</th>
                  <th>Titulo5</th>
              </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>
                [[item.idcliente]]
              </td>
              <td>
                [[item.nombre]]
              </td>
              <td>
                [[item.apellido]]
              </td>
              <td>
                [[item.cuenta]]
              </td>
              <td>
                [[item.listado.0.fecha]]
              </td>
            </tr>
          </template>
          </tbody>
        </table>

      </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
    //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      /*  request.open("GET", "http://localhost:3002/Clientes",false); */
      request.open("GET", "http://localhost:3000/Clientes",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
      //  this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
      //  console.table(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
