<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *
<dom-module id="visor-apiext">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Información financiera BANXICO</h1>
      </div>
	  <div class="row">
        <p>Te tenemos los últimos datos oportunos del SISTEMA DE INFORMACIÓN ECONÓMICA - BANXICO.</p>
	  </diV
      <div class="row">
        <button on-click="getBanxico" type="button" name="button" class="btn btn-success">Consultar</button>
      </div>
      <div class="row">
        <table class="table table-hover">
		  <thead class="thead-dark">
            <tr>
			<th>Serie</th><th>Fecha actualización</th><th>Dato</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{series}}">
            <tr>
              <td>
                [[series.titulo]]
              </td>
              <td>
                [[series.titulo]]
              </td>
              <td>
                [[series.titulo]]
              </td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
    </div>
    <iron-ajax
      id="doBanxico"
      url="https://www.banxico.org.mx/SieAPIRest/service/v1/series/SP74665,SF61745,SF60634,SF43773/datos/oportuno"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="GET"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class VisorAPIext extends Polymer.Element {
     			  static get is() { return 'visor-apiext'; }
     			  static get properties() {
     				return {
     				  series: {
     					type: Array,
     					notify: true
     				  }
     		  };
     	}
      getBanxico() {
        var tokenData = {
        "token":"823eb2e1704d5564d77e4a04cba066ac488581c3ac39df8e4429a20282ec0382"
        };
        console.log(tokenData);
        this.$.doBanxico.body = JSON.stringify(tokenData);
        this.$.doBanxico.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
      }
      showError(error) {
        console.log("Ocurrio un error");
        console.log(error);
      }
    }
    window.customElements.define(VisorAPIext.is, VisorAPIext);
  </script>
</dom-module>
