<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="registro-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div id="general">
       <div id="layoutAuthentication" class="bg-primary">
            <div id="layoutAuthentication_content">
              <!--  <main>-->
                  <!--  <div class="container"> -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                              <!--  <div class="card shadow-lg border-0 rounded-lg mt-5">-->
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Registro</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">Nombre</label>
                                                        <input class="fadeIn second" id="inputFirstName" type="text" value="{{nombre::input}}" placeholder="Ingresa tu nombre" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">Apellido Paterno</label>
                                                        <input class="fadeIn second" id="inputLastName" type="text" value="{{apellidoPat::input}}" placeholder="Apellido paterno" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputLastName" type="email" value="{{email::input}}" placeholder="Enter email address" />
                                            </div>-->
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">Apellido materno</label>
                                                        <input class="fadeIn second" id="inputFirstName" type="text" value="{{apellidoMat::input}}" placeholder="Apellido paterno" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">Email</label>
                                                        <input class="fadeIn second" id="inputLastName" type="text" value="{{email::input}}" placeholder="Email" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPassword">Password</label>
                                                        <input class="fadeIn second" id="inputPassword" type="password" value="{{password::input}}" placeholder="assword" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputCuenta">Cuenta</label>
                                                        <input class="fadeIn second" id="inputCuenta" type="text"  value="{{cuenta::input}}" placeholder="Ingresa cuenta" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0">
												<button on-click="register" type="button" name="button">Aceptar</button>
											</div>
                                        </form>
                                    </div>
                                    <br>
                                    <br>
                                    <!--<div class="card-footer text-center">
                                        <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                    </div>-->
                                </div>
                                <br>
                            </div>
                        </div>
                  <!--  </div> -->
              <!--  </main>-->
            </div>
          <!--  <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>-->
        </div>


    </div>
    <iron-ajax
      id="doRegisterUsuario"
      url="http://localhost:3000/Registro"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroClientes extends Polymer.Element {
      static get is() { return 'registro-clientes'; }
          static get properties() {
            return {
              nombre: {
                type: String
              },
              apellidoPat: {
                 type: String
               },
               apellidoMat: {
                  type: String
                },
              email: {
                 type: String
               },
              password: {
                 type: String
               },
               cuenta: {
                  type: String
                }
             };
           }
          register() {
              var registerData = {
                "nombre":this.nombre,
                "apellidoPat":this.apellidoPat,
                "apellidoMat":this.apellidoMat,
                "email":this.email,
                "password":this.password,
                "cuenta":this.cuenta
              };
              console.log(registerData);
               this.$.doRegisterUsuario.body = JSON.stringify(registerData);
               this.$.doRegisterUsuario.generateRequest();
               console.log("Petición enviada");
             }
             manageAJAXResponse(data) {
               console.log("Respuesta recibida del servidor");
               console.log(data.detail.response);
               console.log("Todo OKI");
               alert("¡Usuario registrado exitosamente!");

             }
             showError(error) {
                console.log("Ocurrio un error");
                console.log(error);
                 alert("Datos ingresados incorrectos, por favor valida tus credenciales");
              }
    }
    window.customElements.define(RegistroClientes.is, RegistroClientes);
  </script>
</dom-module>
