<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../gestor-clientes/gestor-clientes.html">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link href="../../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div id="divPrincipal"> <!-- Lo agregue -->
    <div id="layoutAuthentication"> <!-- Lo agregue -->
    		<div id="layoutAuthentication_content"> <!-- Lo agregue -->
    			<main> <!-- Lo agregue NO -->
    				<div class="container"> <!-- Lo agregue -->
    					<div class="row justify-content-center"><!-- Lo agregue -->
    						<div class="col-lg-5"><!-- Lo agregue -->
                  <div class="card shadow-lg border-0 rounded-lg mt-5"><!-- Lo agregue -->
                    <div class="card-header" hidden$={{logado}}><h3 class="text-center font-weight-light my-4">.:: LOGIN ::.</h3></div>
                    <div class="card-body">
                      <form>
  											<div class="form-group" hidden$={{logado}}>
  												<label class="small mb-1" for="inputEmailAddress">Email</label>
                          <input class="form-control py-4" id="inputEmailAddress" type="email" value="{{email::input}}" placeholder="Enter email address" />
  											</div>
                        <div class="form-group" hidden$={{logado}}>
  												<label class="small mb-1" for="inputPassword">Password</label>
  												<input class="form-control py-4" id="inputPassword" type="password" value="{{password::input}}" placeholder="Enter password" />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" hidden$={{logado}}>
  												<button on-click="login" type="button" name="button" hidden$={{logado}}>Login</button>
  											</div>
                        <div class="row" hidden$={{!logado}}>
  												<span>Bienvenido a la aplicación</span>
                          <!--<gestor-clientes></gestor-clientes>-->
                        </div>
  										</form>
                    </div>
			             </div>
                 </div>
			      </div>
			     </div>
         </main>
		    </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
    </div>
    </template>
     <script>
       /**
        * @customElement
        * @polymer
        */
        class LoginApp extends Polymer.Element {
          static get is() { return 'login-app'; }
          static get properties() {
            return {
              email: {
                type: String
              },
              password: {
                 type: String
               },
               logado: {
                 type: Boolean,
                 value: false
               }
             };
           }
           login() {
              var loginData = {
                "email":this.email,
                "password":this.password
              };
              console.log(loginData);
               this.$.doLogin.body = JSON.stringify(loginData);
               this.$.doLogin.generateRequest();
               console.log("Petición enviada");
             }
             manageAJAXResponse(data) {
               console.log("Respuesta recibida del servidor");
               console.log(data.detail.response);
               this.logado = true;
             }
             showError(error) {
                console.log("Ocurrio un error");
                alert("Datos ingresados incorrectos, por favor valide");
                console.log(error);
              }
            }
            window.customElements.define(LoginApp.is, LoginApp);
          </script>
        </dom-module>
