<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
	  <div class="wrapper fadeInDown">
      <div class="body" hidden$={{logado}}></div>
	    <div id="formContent" hidden$={{logado}}>
		      <h1 class="active"><a href="#login">Self Service Project</a></h1>
		        <!-- Icon -->
		      <div class="fadeIn first" hidden$={{logado}}>
		          <img src="assets/img/micro_Marketing_Identity.png" id="icon"/>
		           <img src="https://www.bbva.pe/content/dam/public-web/peru/images/promo-sliders/promo-oficinas-abril.png.img.320.1598454842633.png" id="icon"/>
		      </div>
    		<!-- Login Form -->
    		<form>
    		    <input id="login" class="fadeIn second" name="login" placeholder="Correo" type="email" value="{{email::input}}">
    		    <input  id="password" class="fadeIn third" name="password" placeholder="Password" type="password" value="{{password::input}}">
    		    <button on-click="login" id="btnFondoBlanco" type="button" name="button">Login</button>
            <br>
            <br>
    		</form>
	   </div>
   </div> <!--FIN div de LOGIN forma loggeo-->
   <!--INICIO DIV de pantalla principal-->
<div id="page-top diu" hidden$={{!logado}}>
  <!-- CERRAR SESION y regresar al LOGIN-->
    <!--<div class="row">
		    <button on-click="back" type="button" name="button">LogOut</button>
	  </div>
    <movimientos-cliente></movimientos-cliente>-->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Self-Service BBVA</a>
      <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#datos">Tu información</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#movimientos1">Movimientos</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#sucursalesCDMX">Nuestras sucursales</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Banxico">SIE Banxico</a></li>
            <li class="nav-item mx-0 mx-lg-1"><button on-click="back" type="button" name="button">LogOut</button></li>
          </ul>

        </div>
     </div>
  </nav>

  <header class="masthead bg-primarydos text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="">
      <!-- Masthead Heading-->
      <h1 class="masthead-heading mb-0">Self-Service BBVA</h1>
      <!-- Icon Divider-->

      <!-- Masthead Subheading-->
      <p class="pre-wrap masthead-subheading font-weight-light mb-0">[[email]] La información sobre tus operaciones en nuestros canales de autoservicio, concentradas aquí.</p>
   </div>
  </header>

	<section class="page-section bg-primary text-white mb-0" id="datos">
      <div class="container">
        <div class="text-center">
          <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Tu información</h2>
        </div>
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="text-center">
          <h3 id="ajusteH3">Aquí podrás visualizar tus datos de registro o modificarlos.</h3>
        </div>
     </div>
    <div id="generalAzul">
	     <!--<h1>HOOOOLA</h1>-->
       <!--<registro-clientes></registro-clientes>-->
       <visor-cliente></visor-cliente>
    </div>
  </section>

  <section class="page-section bg-whitec text-white mb-0" id="movimientos1">
      <div class="container">
        <div class="text-center">
          <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Tus últimos movimientos</h2>
        </div>
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="text-center">
          <h3 id="ajusteH3">Consulta tus últimas operaciones realizadas en nuestros equipos de autoservicio BBVA.</h3>
        </div>
     </div>
    <div id="general">
	     <!--<h1>HOOOOLA</h1>-->
       <movimientos-cliente></movimientos-cliente>
    </div>
  </section>


  <section class="page-section bg-primary text-white mb-0" id="sucursalesCDMX">
      <div class="container">
        <div class="text-center">
          <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Nuestras sucursales CDMX</h2>
        </div>
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
     </div>
    <div id="generalAzul">
	     <!--<h1>HOOOOLA</h1>-->
       <sucursales-zona></sucursales-zona>
    </div>
  </section>

  <section class="page-section bg-whitec text-white mb-0" id="Banxico">
      <div class="container">
        <div class="text-center">
          <h2 class="page-section-heading text-secondary mb-0 d-inline-block">SIE Banxico</h2>
        </div>
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="text-center">
          <h3 id="ajusteH3">Consulta la información más actualizada del SIstema de Información Financiera .</h3>
        </div>
     </div>
    <div id="generalBM">
	     <!--<h1>HOOOOLA</h1>-->
       <!--<movimientos-cliente></movimientos-cliente>-->
       <table  class="table" >
         <thead class="thead-dark">
             <tr>
                 <th>Serie</th>
                 <th>Fecha actualización</th>
                 <th>Dato</th>
             </tr>
         </thead>
         <tbody>
             <tr>
             <td >
               Inflación No subyacente (nueva definición) Anual
             </td>
             <td>
               01/08/2020
             </td>
             <td>
              4.3000
             </td>
           </tr>
           <tr>
           <td >
             Tasa de fondeo bancario Mediana ponderada por volumen Tasa de interés en por ciento anual
           </td>
           <td>
             17/09/2020
           </td>
           <td>
            4.50
           </td>
         </tr>
         <tr>
         <td>
           Tasa objetivo
         </td>
         <td>
           17/09/2020
         </td>
         <td>
          4.5000
         </td>
       </tr>
       <tr>
       <td>
         Valores gubernamentales, Resultados de la subasta semanal Cetes a 91 días
       </td>
       <td>
         14/09/2020
       </td>
       <td>
        4.4100
       </td>
     </tr>
         </tbody>
       </table>

   </div>
     <p id="intruccionesWhiteRef">*Datos actualizados al: 18/09/2020 - https://www.banxico.org.mx/SieAPIRest </p>
    </div>
  </section>
  <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Maykaren Gómez MB96093 	|	 Practitioner 4a edición</small></div>
    </section>
</div><!--DIV FINAL de pantalla PRINCIPAL-->

<!--  <div id="formFooter" hidden$={{!logado}}>
    <button on-click="back" type="button" name="button">LogOut</button>
</div>-->

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
    </template>
     <script>
       /**
        * @customElement
        * @polymer
        */
        class LoginApp extends Polymer.Element {
          static get is() { return 'login-app'; }
          static get properties() {
            return {
              email: {
                type: String
              },
              password: {
                 type: String
               },
               logado: {
                 type: Boolean,
                 value: false
               }
             };
           }
           back(){
             console.log("Holaaa");
             this.logado = false;
           }
           login() {
              var loginData = {
                "email":this.email,
                "password":this.password
              };
              console.log(loginData);
               this.$.doLogin.body = JSON.stringify(loginData);
               this.$.doLogin.generateRequest();
               console.log("Petición enviada");
             }
             manageAJAXResponse(data) {
               console.log("Respuesta recibida del servidor");
               console.log(data.detail.response);
               this.logado = true;
             }
             showError(error) {
                console.log("Ocurrio un error");
                alert("Datos ingresados incorrectos, por favor valide");
                console.log(error);
              }
            }

            window.customElements.define(LoginApp.is, LoginApp);
     </script>
</dom-module>
