<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="visor-cliente">
  <template>
    <style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      :host {
        display: block;
      }
      #general{
   margin:0px;
   padding:0px;
   margin: auto;
   margin-top:20px;
   margin-bottom:20px;
   width: 1450px;
   height: 490px;
   background-color: #0C395C;
 }
   #imagenArea{
  margin:0px;
  padding:0px;
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  width: 550px;
  height: 490px;
  background-color: #0C395C;
  float: left;
  }
  #detalleImagen{
 margin:0px;
 padding:0px;
 margin: auto;
 margin-top:20px;
 margin-bottom:20px;
 width: 900px;
 height: 490px;
 background-color: #69AAD9;
 float: left;
 }
 .center {
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
    </style>

<div class="container">
   <!--<p id="intruccionesWhite">Por seguridad, corroboranos tu correo y apellido paterno:</p>-->
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Confirma tu correo: </label>
        <input id="formsInput" placeholder="Coloca tu correo" type="text" value="{{email::input}}">
        <label for="exampleFormControlInput1"> y tu apellido paterno: </label>
        <input id="formsInput" placeholder="Coloca tu apellido" type="text">
      </div>
      <div>
        <button on-click="getProfile" type="button" name="button" id="btnFondoBlanco">Ver mi perfil</button>
      </div>
    </form>
</div>
 <div id="general">
     <div id="imagenArea">
       <img src="https://storage.googleapis.com/bbva-jobboard.appspot.com/Media/Cliente.png" class="center" style="width:400px;height:390;"/>
       <p id="intruccionesTxtBlanco"><strong><center>Para nosotros ... El cliente es lo primero</center></strong></p>
    </div>

  <div id="detalleImagen">
    <br>
    <br>
     <h1><center>¡Qué gusto qué estés aquí!</center></h1>
     <br>
     <p id="intruccionesWhite">Los datos de tu cuenta en Self Service son:</p>
      <template is="dom-repeat" items="{{perfilCliente}}">
        <p id="intruccionesWhite"><strong>Nombre :</strong> [[item.nombre]]</p>
        <p id="intruccionesWhite"><strong>Apellido paterno :</strong> [[item.apellidoPat]]</p>
        <p id="intruccionesWhite"><strong>Apellido materno :</strong> [[item.apellidoMat]]</p>
        <p id="intruccionesWhite"><strong>Email :</strong> [[item.email]]</p>
        <p id="intruccionesWhite"><strong>Número de cuenta :</strong> [[item.cuenta]]</p>
      </template>
   </div>
 </div>
       <iron-ajax
         id="doProfile"
         url="http://localhost:3000/PerfilCliente"
         content-type="application/json"
         crossDomain:true
         dataType:'jsonp'
         method="POST"
         handle-as="json"
         headers="Access-Control-Allow-Headers: *"
         on-response="manageAJAXResponse"
         on-error="showError"></iron-ajax>
       </template>

  <script>

/*class RegistroClientes extends Polymer.Element {
  static get is() { return 'registro-clientes'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidoPat: {
             type: String
           },
          email: {
             type: String
           },
          password: {
             type: String
           }
         };
       }
      register() {
          var registerData = {
            "nombre":this.nombre,
            "apellidoPat":this.apellidoPat,
            "email":this.email,
            "password":this.password
          };
          console.log(registerData);
           this.$.doRegisterUsuario.body = JSON.stringify(registerData);
           this.$.doRegisterUsuario.generateRequest();
           console.log("Petición enviada");
         }
         manageAJAXResponse(data) {
           console.log("Respuesta recibida del servidor");
           console.log(data.detail.response);
           console.log("Todo OKI");
         }
         showError(error) {
            console.log("Ocurrio un error");
            console.log(error);
          }
}*/

class VisorCliente extends Polymer.Element {
  static get is() { return 'visor-cliente'; }
  static get properties() {
    return {
      perfilCliente: {
        type: Array,
        notify: true
      },
      email: {
         type: String
       }
     };
   }
   getProfile() {
      var profileData = {
        "email":this.email
      };
      console.log("profileData es: "+profileData);
       this.$.doProfile.body = JSON.stringify(profileData);
       this.$.doProfile.generateRequest();
       console.log("Petición enviada");
     }
     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       console.log(data.detail.response);
       this.perfilCliente = data.detail.response;
       console.log("Todo muy bien :)");
     }
     showError(error) {
        console.log("Ocurrio un error :()");
        console.log(error);
      }
    }

    window.customElements.define(VisorCliente.is, VisorCliente);
  </script>
</dom-module>
