<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="gestor-atms">
  <div class="row">
    <button on-click="incrementar" type="button" name="button" class="btn btn-secondary">Cargar Datos</button>
    <input type="text" value="{{prop1::input}}"/>
    <input type="text" value="[[prop1]]"/>
  </div>
  <template>
      <style>
      form{
           margin: 20px 0;
       }
       form input, button{
           padding: 5px;
       }
       table{
           width: 100%;
           margin-bottom: 20px;
   		border-collapse: collapse;
       }
       table, th, td{
           border: 1px solid #cdcdcd;
       }
       table th, table td{
           padding: 10px;
           text-align: left;
       }
    </style>

    <form>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="email" placeholder="Email Address">
  <input type="button" class="add-row" value="Add Row">
</form>
<table>
    <thead>
        <tr>
            <th >Select</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" name="record"></td>
            <td>[[prop2]]</td>
            <td>peterparker@mail.com</td>
        </tr>
    </tbody>
</table>
<button type="button" class="delete-row">Delete Row</button>
  </template>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorAtms extends Polymer.Element {
      static get is() { return 'gestor-atms'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gestor-atms'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2+=1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(GestorAtms.is, GestorAtms);
  </script>
</dom-module>
