<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="registro-sucursal">
  <template>
    <style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      :host {
        display: block;
      }
      #general{
   margin:0px;
   padding:0px;
   margin: auto;
   margin-top:20px;
   margin-bottom:20px;
   width: 1450px;
   height: 490px;
   background-color: #0C395C;
 }
   #imagenArea{
  margin:0px;
  padding:0px;
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  width: 550px;
  height: 490px;
  background-color: #0C395C;
  float: left;
  }
  #detalleImagen{
 margin:0px;
 padding:0px;
 margin: auto;
 margin-top:20px;
 margin-bottom:20px;
 width: 900px;
 height: 490px;
 background-color: #69AAD9;
 float: left;
 }
 .center {
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
    </style>

<div class="container">
   <!--<p id="intruccionesWhite">Por seguridad, corroboranos tu correo y apellido paterno:</p>-->
    <form>
      <div>
        <button on-click="registroSucursal" type="button" name="button" id="btnFondoBlanco">Registrar</button>
      </div>
    </form>
</div>
 <div id="general">
     <div id="imagenArea">
       <img src="https://storage.googleapis.com/bbva-jobboard.appspot.com/Media/Cliente.png" class="center" style="width:400px;height:390;"/>
       <p id="intruccionesTxtBlanco"><strong><center>Para nosotros ... El cliente es lo primero</center></strong></p>
    </div>

  <div id="detalleImagen">
    <br>
     <p id="intruccionesWhite">Por favor coloca los datos de la sucursal a registrar:</p>

        <p id="intruccionesWhite"><strong>Nombre :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{nombre::input}}" placeholder="Nombre" /></p>
        <p id="intruccionesWhite"><strong>Ubicación :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{ubicacion::input}}" placeholder="Nombre" /></p>
<p id="intruccionesWhite"><strong>Alcaldia :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{alcaldia::input}}" placeholder="Nombre" /></p>
<p id="intruccionesWhite"><strong>Horario días :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{horarioDias::input}}" placeholder="Nombre" /></p>
<p id="intruccionesWhite"><strong>Horario horas :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{horarioHoras::input}}" placeholder="Nombre" /></p>
<p id="intruccionesWhite"><strong>Zona :</strong> <input class="fadeIn second" id="inputFirstName" type="text" value="{{zona::input}}" placeholder="Nombre" /></p>

      <!--  <p id="intruccionesWhite"><strong>Apellido paterno :</strong> [[item.apellidoPat]]</p>
        <p id="intruccionesWhite"><strong>Apellido materno :</strong> [[item.apellidoMat]]</p>
        <p id="intruccionesWhite"><strong>Email :</strong> [[item.email]]</p>
        <p id="intruccionesWhite"><strong>Número de cuenta :</strong> [[item.cuenta]]</p>-->
   </div>
 </div>
       <iron-ajax
         id="doRegSucursal"
         url="http://localhost:3000/RegistroSucursal"
         content-type="application/json"
         crossDomain:true
         dataType:'jsonp'
         method="POST"
         handle-as="json"
         headers="Access-Control-Allow-Headers: *"
         on-response="manageAJAXResponse"
         on-error="showError"></iron-ajax>
       </template>

  <script>


class RegistroSucursal extends Polymer.Element {
  static get is() { return 'registro-sucursal'; }
  static get properties() {
    return {
      nombre: {
        type: String
      },
      ubicacion: {
         type: String
       },
       alcaldia: {
          type: String
        },
      horarioDias: {
         type: String
       },
      horarioHoras: {
         type: String
       },
       zona: {
          type: String
        }
     };
   }
   registroSucursal() {
      var sucursalData = {
        "nombre":this.nombre,
        "ubicacion":this.ubicacion,
        "alcaldia":this.alcaldia,
        "horarioDias":this.horarioDias,
        "horarioHoras":this.horarioHoras,
        "zona":this.zona
      };
      console.log("sucursalData es: "+sucursalData);
       this.$.doRegSucursal.body = JSON.stringify(sucursalData);
       this.$.doRegSucursal.generateRequest();
       console.log("Petición enviada");
     }
     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       console.log(data.detail.response);
       console.log("Todo OKI");
       alert("Sucursal registrada exitosamente!");

     }
     showError(error) {
        console.log("Ocurrio un error");
        console.log(error);
         alert("No fue posible registrar la sucursal");
      }
    }

    window.customElements.define(RegistroSucursal.is, RegistroSucursal);
  </script>
</dom-module>
