<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="sucursales-zona">
  <template>
    <style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      :host {
        display: block;
      }
    </style>

    <div class="row">
              <p id="intruccionesWhite">Sólo selecciona la zona de tu interés para visualizar las sucursales:</p>
    </div>

     <div id="botonesComponentes">
      <!--<p id="intruccionesWhite"><strong>Zona:</strong></p>-->
      <select value="{{zona::input}}">
        <option value="NORTE">NORTE</option>
        <option value="SUR">SUR</option>
        <option value="CENTRO">CENTRO</option>
        <option value="ORIENTE">ORIENTE</option>
      </select>

      <button on-click="getZona" type="button" name="button" id="btnFondoBlancoCh">Ver sucursales</button>
      <button on-click="hola" id="btnFondoBlancoCh" type="button" name="button">Ver mapa</button>
    </div>

    <div id="generalMovsVisorSuc" hidden$={{!observado}}>
    <!--        <div class="row">
                  <p id="intruccionesWhite">Ponemos a tu disposición las siguientes acciones, selecciona la que requieras:</p>
        </div>
      <div id="botonesComponentes">

        <button on-click="obtenerMovimientos" class="linea" type="button" name="button" class="btn btn-success">Obtener movimientos</button>
        <button on-click="hola" class="linea" type="button" name="button" class="btn btn-success">Modificar movimientos</button>
      </div>-->

      <br>
      <!--<div class="row">-->

        <!--<table  class="table table-hover">-->
        <table  class="table" >
          <thead class="thead-dark">
              <tr>
                  <th>Nombre</th>
                  <th>Ubicación</th>
                  <th>Horario (días)</th>
                  <th>Horario (horas)</th>
                  <th>Alcaldia</th>
                  <th>Zona</th>
              </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{sucursales}}">
            <tr>
              <td >
                [[item.nombre]]
              </td>
              <td>
                [[item.ubicacion]]
              </td>
              <td>
                [[item.horarioDias]]
              </td>
              <td>
                [[item.horarioHoras]]
              </td>
              <td>
                [[item.alcaldia]]
              </td>
              <td>
                [[item.zona]]
              </td>
            </tr>
          </template>
          </tbody>
        </table>

    </div>

  <div id="generalMovsVisorSuc" hidden$={{observado}}>
<!--  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Confirma tu correo: </label>
      <input id="formsInput" placeholder="Coloca tu correo" type="text">
      <label for="exampleFormControlInput1"> y tu apellido paterno: </label>
      <input id="formsInput" placeholder="Coloca tu nombre" type="text">
    </div>
  </form>-->
  <div id="map"></div>
  </div>

    <iron-ajax
      id="doSucursalesZona"
      url="http://localhost:3000/SucursalesZona"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
    </template>

  <script>

    class SucursalesZona extends Polymer.Element {
      static get is() {
        return 'sucursales-zona';
      }

      static get properties() {
        return {
          zona: {
            type: String,
            value: 'CENTRO'
          },
          sucursales: {
            type: Array,
            notify: true
          },
          observado: {
            type: Boolean,
            value: false
          }
        };
      }

      getZona() {
        var zoneData = {
          "zona":this.zona
        };
        /*if( zone == 'SUR') {
          alert("La zona fue SUR");
        }else{
          alert("Fue otra zona menos SUR");
        }*/
        console.log("zoneData es: "+zoneData);
         this.$.doSucursalesZona.body = JSON.stringify(zoneData);
         this.$.doSucursalesZona.generateRequest();
         console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.sucursales = data.detail.response;
        this.observado = true;
        console.log("Todo muy bien :)");
      }
      showError(error) {
         console.log("Ocurrio un error :()");
         console.log(error);
       }
       hola(){
        var holi="hola";
        //var mm=[[email]];
        this.observado = false;
        console.log("Estoy en: "+holi)
      }

    }

    window.customElements.define(SucursalesZona.is, SucursalesZona);
  </script>
</dom-module>
