<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="movimientos-cliente">
  <template>
        <link href="../../css/styles.css" rel="stylesheet" />
    <style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      :host {
        display: block;
      }
    </style>

    <div class="row">
              <p id="intruccionesWhite">Consulta los movimientos de tu cuenta aquí.</p>
    </div>
  <div id="botonesComponentes">
  <!--  <button on-click="obtenerMovimientos" id="btnFondoBlancobtnFondoBlanco" type="button" name="button" class="btn btn-success">Obtener movimientos</button>
    <button on-click="hola" id="btnFondoBlancobtnFondoBlanco" type="button" name="button" class="btn btn-success">Modificar movimientos</button>-->
    <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Núm. cuenta: </label>
            <input id="formsInput" placeholder="5 posiciones" type="text" value="{{cuenta::input}}">
          </div>
          <div>
            <button on-click="getMovimientos" type="button" name="button" class="btn btn-success">Ver movimientos</button>
          </div>
        </form>
  </div>
    <div id="generalMovsVisor">


      <br>
      <!--<div class="row">-->

        <!--<table  class="table table-hover">-->
        <table  class="table" >
          <thead class="thead-dark">
              <tr>
                  <th>Cuenta</th>
                  <th>Movimiento</th>
                  <th>Fecha</th>
                  <th>Sucursal</th>
                  <th>Equipo</th>
                  <th>Monto</th>
              </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
            <tr>
              <td >
                [[item.cuenta]]
              </td>
              <td>
                [[item.tipoMovimiento]]
              </td>
              <td>
                [[item.fechaHr]]
              </td>
              <td>
                [[item.ubicacion]]
              </td>
              <td>
                [[item.equipo]]
              </td>
              <td>
                [[item.monto]]
              </td>
            </tr>
          </template>
          </tbody>
        </table>

 </div>
    <!-- <div id="generalMovsVisor2" hidden$={{observado}}>
       <form>
         <div class="form-group">
           <label for="exampleFormControlInput1">Confirma tu correo: </label>
           <input id="formsInput" placeholder="Coloca tu correo" type="text">
           <label for="exampleFormControlInput1"> y tu apellido paterno: </label>
           <input id="formsInput" placeholder="Coloca tu nombre" type="text">
         </div>
       </form>
     </div>-->

<iron-ajax
      id="doMovimientos"
      url="http://localhost:3000/MovimientosPorCuenta"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class MovimientosCliente extends Polymer.Element {
       static get is() { return 'movimientos-cliente'; }
       static get properties() {
         return {
           movimientos: {
             type: Array,
             notify: true
           },
           cuenta: {
              type: String
            }
         };
       }
       getMovimientos() {
          var movData = {
            "cuenta":this.cuenta
          };
          console.log("movData es: "+movData);
           this.$.doMovimientos.body = JSON.stringify(movData);
           this.$.doMovimientos.generateRequest();
           console.log("Petición enviada");
         }
         manageAJAXResponse(data) {
           console.log("Respuesta recibida del servidor");
           console.log(data.detail.response);
           this.movimientos = data.detail.response;
           console.log("Todo muy bien :)");
         }
         showError(error) {
            console.log("Ocurrio un error :()");
            console.log(error);
          }
    }
    window.customElements.define(MovimientosCliente.is, MovimientosCliente);
  </script>
</dom-module>
